<section class="benefits" id="benefits">
  <div class="container benefits-inner">
    <h2 class="title-h2">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-list-item benefits-list-item-1">
        <img
          class="benefits-item_img"
          src="./img/benefits/benefits-1.png"
          alt="Exciting Gameplay"
        />
        <h3 class="benefits-item_title">Exciting Gameplay:</h3>
        <p class="benefits-item_text">
          Match and pop colorful bubbles to complete levels and unlock new
          challenges
        </p>
      </li>
      <li class="benefits-list-item benefits-list-item-2">
        <img
          class="benefits-item_img"
          src="./img/benefits/benefits-2.png"
          alt="Addictive Levels"
        />
        <h3 class="benefits-item_title">Addictive Levels:</h3>
        <p class="benefits-item_text">
          Hundreds of fun puzzles designed to test your strategy and skills
        </p>
      </li>
      <li class="benefits-list-item benefits-list-item-3">
        <img
          class="benefits-item_img"
          src="./img/benefits/benefits-3.png"
          alt="Engaging Power-Ups"
        />
        <h3 class="benefits-item_title">Engaging Power-Ups:</h3>
        <p class="benefits-item_text">
          Use boosters and special effects to create explosive combos and clear
          the board
        </p>
      </li>
      <li class="benefits-list-item benefits-list-item-4">
        <img
          class="benefits-item_img"
          src="./img/benefits/benefits-4.png"
          alt="No Wi-Fi Needed"
        />
        <h3 class="benefits-item_title">No Wi-Fi Needed:</h3>
        <p class="benefits-item_text">
          Play anytime, anywhere, without an internet connection!
        </p>
      </li>
      <li class="benefits-list-item benefits-list-item-5">
        <img
          class="benefits-item_img"
          src="./img/benefits/benefits-5.png"
          alt="Relaxing & Satisfying"
        />
        <h3 class="benefits-item_title">Relaxing & Satisfying:</h3>
        <p class="benefits-item_text">
          A stress-free gaming experience with rewarding mechanics and beautiful
          visuals
        </p>
      </li>
      <li class="benefits-list-item benefits-list-item-6">
        <img
          class="benefits-item_img"
          src="./img/benefits/benefits-6.png"
          alt="Daily Rewards & Events"
        />
        <h3 class="benefits-item_title">Daily Rewards & Events:</h3>
        <p class="benefits-item_text">
          Enjoy new challenges and earn amazing prizes every day
        </p>
      </li>
    </ul>
  </div>
</section>
