<div class="cookie-policy">
  <div class="container cookie-policy-inner">
    <div class="cookie-policy-content">
      <h2 class="cookie-policy_title">Our cookie Policy</h2>
      <p class="cookie-policy_text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="cookie-policy-buttons">
      <button type="button" class="cookie-policy-button1-js">
        Accept cookies
      </button>
      <button type="button" class="cookie-policy-button2-js">
        Decline cookies
      </button>
    </div>
  </div>
</div>
