<section class="description" id="description">
  <div class="container description-inner">
    <h2 class="title-h2">Game Description</h2>
    <div class="description-content">
      <div class="hero-img-container desc-img-container">
        <img class="desc-img" src="./img/description/description.jpg" alt="Game Description" />
      </div>
      <p class="description-text">
        Immerse yourself in <span>Joy Blast</span>, a delightful puzzle
        adventure where matching and popping colorful orbs bring endless fun!
        Each level offers a unique challenge, from tricky puzzles to high-score
        races, ensuring that no two rounds are ever the same. Use
        <span>power-ups, boosters, and strategic moves</span> to blast through
        obstacles and reach new milestones. Whether you're looking to relax or
        challenge yourself, <span>Joy Blast</span> delivers a
        <span>vibrant and engaging</span> gameplay experience that keeps players
        coming back for more!
      </p>
    </div>
  </div>
</section>
