<section class="footer" id="footer-id">
  <div class="header-container footer-inner">
    <ul class="footer-list">
      <li>
        <a href="/cookies-policy.html" target="_blank" class="footer-link">Privacy Policy<span>|</span></a>
      </li>

      <li>
        <a href="/terms-and-conditions.html" target="_blank" class="footer-link">Terms & Conditions</a>
      </li>

      <li>
        <a href="/cookies-policy.html" target="_blank" class="footer-link">Cookies Policy</a>
      </li>
    </ul>

    <p class="footer-copyright">All rights reserved blazetoppro.com | 2025</p>
  </div>
</section>