<section class="gallery" id="gallery-id">
  <div class="container gallery-inner">
    <h2 class="title-h2">Gallery</h2>
    <div class="swiper swiper-gallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./img/gallery/help-joi-1x.jpg"
            />
            <img
              class="swiper-img"
              src="./img/gallery/help-mob-1x.jpg"
              alt="Help"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./img/gallery/solve-desk-1x.jpg"
            />
            <img
              class="swiper-img"
              src="./img/gallery/solve-mob-1x.jpg"
              alt="Problem solving"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./img/gallery/play-desk-1x.jpg"
            />
            <img
              class="swiper-img"
              src="./img/gallery/play-mob-1x.jpg"
              alt="Gameplay"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./img/gallery/follow-desk-1x.jpg"
            />
            <img
              class="swiper-img"
              src="./img/gallery/follow-mob-1x.jpg"
              alt="Following"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./img/gallery/blast-desk-1x.jpg"
            />
            <img
              class="swiper-img"
              src="./img/gallery/blast-mob-1x.jpg"
              alt="Blest Bubbles"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-gallery"></div>
  </div>
</section>
