<section class="gallery" id="gallery-id">

  <h2 class="gallery-title">Gallery</h2>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/gallery/help-joi-1x.jpg">
          <img src="./img/gallery/help-mob-1x.jpg" alt="Помощь">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/gallery/solve-desk-1x.jpg">
          <img src="./img/gallery/solve-mob-1x.jpg" alt="Решение задач">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/gallery/play-desk-1x.jpg">
          <img src="./img/gallery/play-mob-1x.jpg" alt="Игровой процесс">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/gallery/follow-desk-1x.jpg">
          <img src="./img/gallery/follow-mob-1x.jpg" alt="Следование">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/gallery/blast-desk-1x.jpg">
          <img src="./img/gallery/blast-mob-1x.jpg" alt="Решение проблем">
        </picture>
      </div>
    </div>
  </div>

  <div class="swiper-pagination">
</section>