<header class="header" id="header-id">
  <div class="header-inner header-container">
    <div class="logo-div">
      <a class="logo" href="./index.html"
        ><img class="logo_img" src="./img/header/logo.jpg" alt="logo"
      /></a>
    </div>
    <nav class="mobile-nav-js">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item-js"><a href="./index.html">Home</a></li>
        <li class="mobile-menu-item-js">
          <a href="#benefits">Benefits game</a>
        </li>
        <li class="mobile-menu-item-js">
          <a href="#description">About the Game</a>
        </li>
        <li class="mobile-menu-item-js">
          <a href="#gallery-id">Gallery</a>
        </li>
        <li class="mobile-menu-item-js"><a href="#faq-id">FAQ </a></li>
        <li class="mobile-menu-item-js">
          <a href="#reviews-id">Reviews</a>
        </li>
        <li class="mobile-menu-item-js">
          <a href="#uniqueness">Our Uniqueness</a>
        </li>
      </ul>
    </nav>
    <nav class="ps-nav">
      <ul class="ps-menu-list">
        <li class="ps-menu-item"><a href="./index.html">Home</a></li>
        <li class="ps-menu-item">
          <a href="#benefits">Benefits</a>
        </li>
        <li class="ps-menu-item"><a href="#description">About the Game</a></li>
        <li class="ps-menu-item"><a href="#gallery-id">Gallery</a></li>
        <li class="ps-menu-item"><a href="#faq-id">FAQ</a></li>
        <li class="ps-menu-item"><a href="#reviews-id">Reviews</a></li>
        <li class="ps-menu-item"><a href="#uniqueness">Our Uniqueness</a></li>
      </ul>
    </nav>
    <button class="burger_menu-js" type="button">
      <img src="./img/header/burger_menu.png" alt="burger_menu" />
    </button>
  </div>
</header>
