<section class="hero" id="hero-id">
  <div class="container hero-inner">
    <div class="hero-img-container">
        <img src="./img/hero/hero.jpg" alt="Joy Blast" />
    </div>
    <div class="hero-info-container">
      <h1 class="main-title">Joy Blast</h1>
      <p class="hero-text">
         Match, Pop, and Win! Dive into a world of colorful challenges and
        explosive fun!
      </p>
      <a
        class="hero-link"
        href="https://play.google.com/store/apps/details?id=com.librasoftworks.joy&hl=en&gl=us"
        target="_blank"
      >
        <img
          class="hero-link_img"
          src="./img/hero/google-paly-img.png"
          alt="google play"
        />
        <p class="hero-link_text">Play Now</p>
      </a>
    </div>
  </div>
</section>
