<section class="uniqueness-section" id="uniqueness">
  <div class="container uniqueness-inner">

    <h2 class="uniqueness-title">Our Uniqueness</h2>
    <div class="border-wrapper">
      <p class="uniqueness-text"><span class="uniqueness-span">Joy Blast</span> stands out with <span
          class="uniqueness-span">its perfect blend of relaxation and excitement</span>. Unlike
        traditional match-3 games, it offers
        <span class="uniqueness-span">dynamic chain reactions, rewarding gameplay mechanics, and engaging
          challenges</span> that keep players
        entertained for
        hours.
        The game ensures <span class="uniqueness-span">every session feels fresh and enjoyable,</span> making it a top
        choice for puzzle lovers
        worldwide."
      </p>
    </div>

  </div>
</section>