.uniqueness-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../img/uniqueness/uniqueness-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 24px;
  border: 5px solid rgba(252, 200, 15, 1);
  padding: 27px 20px;
}

.uniqueness-section {
  margin-bottom: 60px;
}

.uniqueness-title {
  margin-bottom: 32px;
  white-space: nowrap;
}

.uniqueness-text {
  width: 225px;
  min-height: 228px;
  font-weight: 400;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

}

.border-wrapper {
  display: flex;
  border-radius: 16px;
  border: 5px solid rgba(252, 200, 15, 1);
  padding: 24.5px 27.5px;
  background-color: #214067;
  display: block;
  text-align: center;
}

.uniqueness-span {
  font-family: 'Luckiest Guy', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #f9f2bb;
}


@media screen and (min-width: 1200px) {
  .uniqueness-inner {
    padding: 48.5px 0;
  }

  .border-wrapper {
    display: flex;
    align-items: center;
    margin-top: 48px;
    width: 896px;
    padding: 61px 46px;
    background-color: #214067;
    text-align: start;
  }

  .uniqueness-text {
    width: 804px;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
  }

  .uniqueness-span {
    font-size: 24px;
    line-height: 24px;
  }

  .uniqueness-section {
    margin-bottom: 120px;
  }
}